.appHolder {
  font-family: "Roboto" !important;
}

.white {
  color: white;
}

.whiteBG {
  background-color: rgb(255, 255, 255) !important;
}

.black {
  color: black !important;
}

.bold {
  font-weight: bold;
}

.navBarModifications {
  font-size: 250% !important;
}

.navBarModifications:hover {
  background-color: rgba(99, 1, 58, 0.4) !important;
}

a.white:hover {
  color: white;
}
.painterBG {
  background-image: url("./assets/painter.jpg");
  background-size: cover;
  background-color: rgba(0, 1, 58, 0.5);
}

.programerBG {
  background-image: url("./assets/programmer.jpg");
  background-size: cover;
}

.painterText {
  background-color: rgba(255, 255, 255, 0.3);
}

p#programer {
  font-size: 300% !important;
}
p#paintingLover {
  font-size: 300% !important;
  color: black;
}
p#paintingSub {
  font-size: 200% !important;
}
p#programerSub {
  font-size: 200% !important;
}

.titleWoAmI {
  color: black !important;
}
.image1 {
  text-align: center !important;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
  -webkit-box-shadow: -1px 0px 20px -2px rgba(211, 43, 230, 0.89);
  -moz-box-shadow: -1px 0px 20px -2px rgba(211, 43, 230, 0.89);
  box-shadow: -1px 0px 20px -2px rgba(211, 43, 230, 0.89);
}

.radius-top {
  border-top-left-radius: 1% !important;
  border-top-right-radius: 1%;
}
.favoriteCard {
  background-color: rgb(51, 50, 50) !important;
  color: rgb(255, 251, 251) !important;
  padding: 0rem;
  -webkit-box-shadow: -1px 0px 20px -2px rgba(211, 43, 230, 0.89);
  -moz-box-shadow: -1px 0px 20px -2px rgba(211, 43, 230, 0.89);
  box-shadow: -1px 0px 20px -2px rgba(211, 43, 230, 0.89);
}
.level-item {
  color: aliceblue !important;
}
.centered {
  text-align: center !important;
}
.opacityPortrait {
  opacity: 0.8;
}
.opacityPortrait:hover {
  opacity: 1;
}

.overlay {
  position: relative;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.columnImagePortrait:hover .overlay {
  opacity: 1;
}
.grey {
  background-color: rgba(0, 0, 0, 0.9);
}
.margin {
  margin: 1% !important;
}
.BG {
  background-image: url("./assets/roseBG.jpg");
  background-size: cover;
}
.red {
  color: red;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  grid-auto-rows: minmax(100px, auto);
}

.bottomTab {
  margin: 0 auto;
}

.card-content {
  margin: 0 auto;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.gradientBackground {
  background: linear-gradient(#a178df, #f1a9dd);
}
.circle-small {
  width: 140px;
  height: 140px;
  background: red;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  margin-left: 30%;
  opacity: 0.1;
  margin-top: -30%;
}
.circle-medium {
  width: 180px;
  height: 182px;
  background: red;
  border-radius: 153px;
  opacity: 0.1;
  margin-left: 0em;
}
.circle-big {
  width: 278px;
  height: 278px;
  background: red;
  border-radius: 153px;
  opacity: 0.1;
}
.signUpLeft {
  background-image: url("./assets/africa\ \(3\).png");
  background-size: cover;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
}
.signUpRight {
  background-color: rgb(7, 6, 6, 0.2);
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}
.labelRegistration {
  font-family: "Nanum Myeongjo", serif !important ;
  color: rgb(252, 239, 239) !important;
  font-family: "Baloo 2", cursive !important;
}
.hero-body {
  margin-left: 15%;
  margin-right: 15%;
}
.titleRegistration {
  font-family: "Baloo 2", cursive;
}
.inputCostum {
  opacity: 0.2;
}
.inputCostum:hover {
  opacity: 1;
  background-color: rgb(233, 214, 214);
  color: rgb(146, 28, 146);
}
.bottomCostum:hover {
  transition: background-color 1s;
  background-color: rgb(105, 1, 83) !important;
}
.bottomCostum {
  background-color: rgb(173, 34, 139) !important;
  font-family: "Baloo 2", cursive !important;
}
.bottomCostumCancel {
  background-color: rgb(238, 181, 224) !important;
  font-family: "Baloo 2", cursive !important;
}
.bottomCostumCancel:hover {
  transition: background-color 1s;
  background-color: rgb(252, 227, 246) !important;
}
.checkboxCostum {
  color: rgb(248, 247, 248) !important;
  background-color: rgb(173, 34, 139) !important;
}
.SVG {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  padding-bottom: 80%;
  margin-top: -20%;
}
.SVG-container {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

#leftHand {
  animation: Hand 0.5s ease-in-out infinite alternate;
}
#leftLeef {
  animation: Leef 2s ease-in-out infinite;
}
#Flower {
  animation: flower 2s ease-in-out infinite;
}
#rightLeef {
  animation: Leef2 2s ease-in-out infinite;
}
@keyframes Hand {
  from {
    transform: rotateX(0deg);
    transform-origin: bottom;
    transform-box: fill-box;
  }
  to {
    transform: rotateX(50deg);
    /* transform: translate(-50px, -20px); */
    transform: translateY(-10px);
  }
}
@keyframes Leef {
  from {
    transform: rotateY(0deg);
  }
  20% {
    transform: rotateY(20deg);
  }
}
@keyframes flower {
  from {
    transform: rotateX(0deg);
  }
  20% {
    transform: rotateY(20deg);
  }
}
@keyframes Leef2 {
  from {
    transform: rotateX(0deg);
  }
  20% {
    transform: rotateY(10deg);
  }
}
