
.appHolder{
  font-family: 'Roboto' !important;
}

.white{
  color: white;
}

.whiteBG{
  background-color: white !important;
}

.black{
  color: black !important;
}

.bold{
  font-weight: bold
}

.navBarModifications{
  font-size: 250% !important;
}

.navBarModifications:hover{
  background-color: rgba(99, 1, 58, 0.4) !important;
}

a.white:hover{
  color: white;
}
.painterBG{
  background-image: url('./assets/painter.jpg');
  background-size: cover;
  background-color: rgba(0, 1, 58, 0.5);
}

.programerBG{
  background-image: url('./assets/programmer.jpg');
  background-size: cover;
}

.painterText{
  background-color: rgba(255, 255, 255, 0.3);
}

p#programer{
  font-size: 300% !important;
}
p#paintingLover{
  font-size: 300% !important;
  color: black;
}
p#paintingSub{
  font-size: 200% !important;
}
p#programerSub{
  font-size: 200% !important;
}

.titleWoAmI{
  color: black !important;
}
.image1{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
  text-align: center !important;
}
.imageDisplay{

}
.favoriteCard{
  background-color: rgba(3, 3, 3, 0.9) !important;
}
.level-item{
  color: aliceblue !important;
}
.centered{
  text-align: center !important;
}
.opacityPortrait{
  opacity: 0.6;
}
.opacityPortrait:hover{
  opacity: 1;
}
.imagePortrait {

}
.overlay {
  position: relative;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.columnImagePortrait:hover .overlay {
  opacity: 1;
}
.grey{
  background-color: rgba(0, 0, 0, 0.9);
}